@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  .shape1{
    background-color: #00AFFF;
    border-radius: 0% 0% 30% 30%;
    width: 100%;
    height: 55%;
  }
  .shape2{
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    width: 92%;
    z-index: 10;
    margin-top: -95%;
    height: 30%;
  }
  .logo{
    width: 50;
    height: 50;
    position: relative;          
    display: inline-block;       
    left: 50%;                  
    top: 25; 
    transform: translate(-50%);  

  }
  .caption{
    color: #00AFFF;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
  .heading{
    color: #00AFFF;
    text-align: center;
    font-size: 25px;
    margin-top: 60px;
  }
  .shape3{
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 0px 0px;
    width: 92%;
    z-index: 10;
    margin-top: 5%;
    height: 40%;
  }


